<div style="margin-top: 40px;" class="row" *ngIf="quizService.qns && this.quizService.qnProgress != 10 " >
    <div class="col-md-8 col-md-offset-2">
       
 <span style="font-weight: bolder;">Time Elapsed : {{ quizService.displayTimeElapsed() }}</span>
 <div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="(quizService.qnProgress+1)*10">
      
     </div>
   </div>
       <div class="panel panel-primary">
           <div class="panel-heading">
             <h3 align="center" class="panel-title">Question {{ quizService.qnProgress+1 }}</h3> 
             <br> 
             <p style="font-weight: bold;"> {{ quizService.qns[quizService.qnProgress].qn }}</p>
           </div>
           <div style="background: #4189C7;" class="panel-body">
                
                     <div  class="list-group"> 
                         <ng-container *ngFor="let option of quizService.qns[quizService.qnProgress].options; let i = index " >
                         <a 
                         style="font-weight: bold; cursor: pointer;"
                         class="list-group-item list-group-item-info" 
                         *ngIf="option != null" (click)="Answer(quizService.qns[quizService.qnProgress].Id, i) " >
                           {{ option }}
                         </a> 
                       </ng-container>
                       </div>
                 
                 
               
           </div>
         </div>
 
    
 
    </div>
 </div>