
<div style="margin-top: 40px;" class="col-md-6 offset-md-3">

  <div class="card card-primary">
    <div class="card-header">
      <h3 align="center" class="card-title" style="font-weight: bold;" class="panel-title">Question</h3> 
      <br> 
      <p style="font-weight: bold;">{{quest.qn}}</p>
    </div>
    <div style="background: #007bff;" class="card-body">
      
        <table class="table table-hover">
          <thead>
              <tr>
                  <th>Option 1</th>
                  <th>{{quest.option1}}</th>
              </tr>
          </thead>
          <thead>
            <tr>
                <th>Option 2</th>
                <th>{{quest.option2}}</th>
            </tr>
        </thead>
        <thead>
          <tr>
              <th>Option 3</th>
              <th>{{quest.option3}}</th>
          </tr>
      </thead>
      <thead>
        <tr>
            <th>Option 4</th>
            <th>{{quest.option4}}</th>
        </tr>
    </thead>
    <thead>
      <tr>
          <th>Answer</th>
          <th>{{quest.answer}}</th>
      </tr>
  </thead>
          
      </table>
        
    </div>
  </div>

 
</div>




