
<div class="col-md-4 col-md-offset-4">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 align="center" style="font-weight: bold;" class="panel-title">Question</h3> 
      <br> 
      <p style="font-weight: bold;">{{quest.qn}}</p>
    </div>
    <div style="background: #4189C7;" class="panel-body">
      
        <table class="table table-hover">
          <thead>
              <tr>
                  <th>Option 1</th>
                  <th>{{quest.option1}}</th>
              </tr>
          </thead>
          <thead>
            <tr>
                <th>Option 2</th>
                <th>{{quest.option2}}</th>
            </tr>
        </thead>
        <thead>
          <tr>
              <th>Option 3</th>
              <th>{{quest.option3}}</th>
          </tr>
      </thead>
      <thead>
        <tr>
            <th>Option 4</th>
            <th>{{quest.option4}}</th>
        </tr>
    </thead>
    <thead>
      <tr>
          <th>Answer</th>
          <th>{{quest.answer}}</th>
      </tr>
  </thead>
          
      </table>
        
    </div>
  </div>

 
</div>




