
      
      <div class="register-box">
        <div  class="register-logo">
          <a *ngIf="!auth.isAuthenticated()" href="#"><b>Admin</b>LTE</a>
        </div>
      
        <div class="card">
          <div class="card-body register-card-body">
            <p class="login-box-msg">New Staff Registration</p>
      
            <form name="form" (ngSubmit)="register(f)" #f="ngForm" novalidate>

              <div class="input-group mb-3">
                  <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" required #userName="ngModel" placeholder="FullName">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-key"></span>
                    </div>
                  </div>
                </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="loginid" [(ngModel)]="model.loginid" required #loginid="ngModel" placeholder="Login Id">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="username.touched && username.invalid" class="validation-error">Username is required</div> -->
              <div class="input-group mb-3">
                <select class="form-control" [(ngModel)]="model.sexId" name="sexId" required #sexId="ngModel" >
                  <option  >Select Sex</option>
                  <option *ngFor="let s of sex"  value="{{s.id}}">{{s.name}}</option>
              </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-genderless"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                  <input type="text" class="form-control" name="email" [(ngModel)]="model.email" required #email="ngModel" placeholder="Email">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" required #phone="ngModel" placeholder="Phone">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-phone"></span>
                    </div>
                  </div>
                </div>
              <div class="input-group mb-3">
                  <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" required />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <!-- <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Retype password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div> -->
              <div class="row">
                <!-- <div class="col-8">
                  <div class="icheck-primary">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                    <label for="agreeTerms">
                     I agree to the <a href="#">terms</a>
                    </label>
                  </div>
                </div> -->
                <!-- /.col -->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <!-- <a [routerLink]='["/login"]' class="text-center">I already have a membership</a> -->
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
      <!-- /.register-box -->
 
