<div class="login-box">
  <!-- /.changepassword-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <form name="form" (ngSubmit)="ChangePassword(f)" #f="ngForm" novalidate>
        <div *ngIf="invalidCredentials" class="alert alert-danger ">
          Invalid OldPassword and/or NewPassword
        </div>
        <div class="input-group mb-3">
              <input type="text" class="form-control" name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" placeholder="OldPassword" required />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
              <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required placeholder="NewPassword" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
         
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Change Password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.changepassword-card-body -->
  </div>
</div>
<!-- /.changepassword-box -->