<div class="">
<h1 align="center" style="font-weight: bolder; color: black; text-shadow: 2px 2px 5px #4189C7;" >Welcome to Online Examination For Staff Recruitment</h1>
<div align="center" class="col-md-6 col-md-offset-3">
    <h3 style="color:white; font-weight:bolder;">To participate in this exam, you must first register</h3>
    <h3 style="color:white; font-weight:bolder;"> Please click on the register button below and fill in your details</h3>
    <h3><a [routerLink]='["/register"]' class="btn btn-primary btn-lg">Register</a> <a [routerLink]='["/login"]' class="btn btn-primary btn-lg">Login</a></h3>

</div>

</div>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
    </body>
</html>