<!-- <div class="col-md-4 col-md-offset-4">
    <ul class="nav nav-tabs nav-justified">
            <li [routerLinkActive]='["link-active"]'><a [routerLink]='["/admin-login"]'>Admin Login</a></li>
            <li [routerLinkActive]='["link-active"]'><a [routerLink]='["/login"]'>Staff Login</a></li>
          </ul>
         
</div> -->

<div style="margin-top: 40px;" class="row"  >
    <div class="col-md-4 col-md-offset-4">
       
       <div class="">
           <div class="">
              <ul  class="nav nav-pills nav-justified log">
                  <li >
                      <a style="font-weight:bolder" routerLinkActive="active" routerLink="/admin-login" >Admin Login
                      </a>
                  </li>
                  <li  >
                      <a style="font-weight:bolder" routerLinkActive="active" routerLink="/login" >Staff Login
                      </a>
                  </li>
                </ul>
           </div>
           <div  class=""> 
                 
              <div>
                <router-outlet></router-outlet>
                
              </div>
    
           </div>
         </div>
 
    
 
    </div>
 </div>





  