<div class='main-nav'>
    <div class='navbar navbar-inverse '>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' style=" font-weight: bolder; color: white !important; text-shadow: 3px 3px 5px #4189C7;" [routerLink]='["/"]'>Staff Recruitment Exam</a>
            
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav left navbar-nav'>
                   
                <li *ngIf="!isLoggedIn()" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li *ngIf="isLoggedIn() && isAdmin()" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/admin"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-asterisk'></span>Users
                    </a>
                </li>
               

                <li *ngIf="isLoggedIn() && isAdmin()" [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/addquestion"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-plus'></span>Add Questions
                    </a>
                </li>
                <li *ngIf="isLoggedIn() && isAdmin()" [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/question"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-plus'></span>Questions
                    </a>
                </li>

                <li *ngIf="isLoggedIn() && !isAdmin()"  [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/quiz"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-plus'></span>Exam
                    </a>
                </li>


               

            </ul>

            <ul class="nav right navbar-nav">
                    <li [routerLinkActive]='["link-active"]'>
                            <a *ngIf="!isLoggedIn()" [routerLink]='["/login"]' (click)='collapse()'>
                                <span class='glyphicon glyphicon-log-in'></span>Login
                            </a>
                            <a *ngIf="isLoggedIn()" [routerLink]='["/login"]'  (click)='logout()'>
                                <span class='glyphicon glyphicon-log-out'></span>LogOut
                            </a>
                        </li>
                        <li *ngIf="!isLoggedIn()" [routerLinkActive]='["link-active"]'>
                                <a [routerLink]='["/register"]' (click)='collapse()'>
                                    <span class='glyphicon glyphicon-registration-mark'></span>Register
                                </a>
                            </li>
                            <li *ngIf="isLoggedIn()"  [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                                    <a style=" font-weight: bolder; color: white !important; text-shadow: 3px 3px 5px #4189C7;"  [routerLink]='["/profile"]' (click)='collapse()'>
                                        <span class='glyphicon glyphicon-user'></span> Hello {{userService.UserName()}}
                                    </a>
                                </li>
            </ul>

        </div>
    </div>
</div>
