
<div class="">

  <div class="col-md-8 col-md-offset-2">
    <table  style="color:#4189C7;" datatable class="row-border hover"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
        <thead>
          <tr style="color:#ffffff; background:#4189C7 " class="active">
            <th>S/N</th>
            <th>LoginId</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index" >
            <td>{{i + 1}}</td>
            <td><a [routerLink]="['/ViewUser', user.id]">{{user.loginid}}</a></td>
            <td>{{user.username}}</td>
            <td><a [routerLink]="['/EditUser/', user.id]" class="glyphicon glyphicon-pencil"></a></td>
            <td><a class="glyphicon glyphicon-trash" (click)="deleteUser(user.id)"></a></td>
          </tr>
         
        </tbody>
      </table>
     
     

   

  </div>
  
</div>