

<div style="margin-top: 40px;" class="row"  >
  <div class="col-md-4 offset-md-4">

     <!-- Profile Image -->
     <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
                 src="/images/avatar.jpg"
                 alt="User profile picture">
          </div>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Login ID</b> <b class="float-right">{{person.firstName}}</b>
            </li>
            <li class="list-group-item">
              <b>Username</b> <b class="float-right">{{person.lastName}}</b>
            </li>
            <li class="list-group-item">
              <b>Email</b> <b class="float-right">{{person.email}}</b>
            </li>
            <li class="list-group-item">
                <b>Date Of Birth</b> <b class="float-right">{{person.dateOfBirth}}</b>
              </li>
            <li class="list-group-item">
              <b>Sex</b> <b class="float-right">{{person.sex.name}}</b>
            </li>
            <li class="list-group-item">
              <b>Address</b> <b class="float-right">{{person.address}}</b>
            </li>
          </ul>
          <a [routerLink]="['/admin/edit', person.id]" class="btn btn-primary btn-block"><b>Edit</b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    
  

  </div>
</div>

